.wrapper {
    padding: 40px;
    min-height: 100dvh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 28px;
    color: crimson;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

fieldset {
    width: fit-content;
    padding: 8px;
    border: none;
}

label{
    display: block;
    margin-bottom: 8px;
}

input[type="text"],input[type="date"],input[type="time"],input[type="email"], select {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid blue;
    width: 250px;
}

.btn {
    padding: 8px;
    background-color: gray;
    color: whitesmoke;
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 8px;
}

.btn:hover {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

.require {
    border-color: crimson !important;
}

.error {
    color: crimson;
    width: 250px;
    margin-top: 8px;
}

.details {
    background-color: white;
    padding: 16px 24px;
    border-radius: 8px;
    margin-top: 24px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
}

.sub-title {
    margin-bottom: 16px;
}

.details p {
    margin: 8px 0px;
    font-size: 18px;
}